:root {
    --background: #1e2021;
    --background-secondary: #333535;
    --text: #e8e6e3;
    --accent: #9977DA; /* life is pain, i miss #865DD3 .o7 */
    --accent-violet: #673ab7;
    --accent-pink: #f48fb1;

    --content-width: 70%;
    --wrapper-width: 65%;
    --sidebar-width: 17%;

    --header-margin-height: 5%;
}

* {
    scroll-behavior: smooth;
}

/* general settings */
body {
    background-color: var(--background);
    color: var(--text);
    font-family: monospace;
    font-size: large;
    line-height: 1.4em;
}

/* Text gradient scolling animation */
@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes highlight {
    from {
        background-color: var(--accent);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

h1 > .gradient-text {
    animation: background-pan 5s linear infinite;
    background: linear-gradient(to right,
            var(--accent-pink),
            var(--accent-violet),
            var(--accent),
            var(--accent-pink));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* general classes */
.sticky {
    top: 1svh;
    position: sticky;
    height: fit-content;
}

.hiddenDecoration {
    text-decoration: none;
    color: var(--text);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: var(--sidebar-width);
    flex-shrink: 0;
}

/* defaults for elements */
h3, h4, h5, h6 {
    margin-top: var(--header-margin-height);
    margin-bottom: 1%;
}

a {
    color: var(--accent);
}

a:not(.hiddenDecoration):not([href^="#"])::after {
    content: " [🔗]";
    font-size: x-small;
    vertical-align: super;
}

sup:before {
    content: "[";
}

sup:after {
    content: "]";
}

.footnotes li:target {
    animation: highlight 1s;
}

pre {
    border-left: 2px solid var(--accent);
    background-color: var(--background-secondary);
    padding: 1%;
}

pre > code {
    display: block;
    overflow-x: scroll;
}

li {
    margin: 1% 0;
}

#mainContent * {
    max-width: 100%;
}

/* isnt actually before, its the header suffix */
.icon-link::before {
    content: "#";
    margin-left: 1ch;
}

/* overrides */
/* set the sizes for the badges manually, to make Lighthouse happy */
#badges img {
    width: 80px;
    height: 15px;
    max-width: 80px;
    max-height: 15px;
}

#navbar {
    text-align: center;
    margin-right: 1rem;
    overflow: hidden;
}

#year {
    margin-right: 1ch;
}

#quote {
    font-size: medium;
    line-height: 1.2em;
}

#webtitle {
    margin-bottom: 0;
}

#currentPage {
    margin-bottom: 0;
    margin-top: 0;
    font-size: medium;
}

/* toc > heading 1 */
#TableOfContents > ul {
    list-style-type: '# ';
}

/* toc > heading 2 and onwards */
#TableOfContents > ul ul {
    list-style-type: '## ';
}

/* Accessibility feature: skip to main content */
.skip-to-main-content-link {
    position: absolute;
    z-index: 999;
    opacity: 0;
    font-size: xx-small;
    max-width: 80px;
}

.skip-to-main-content-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

/* layout */
#center {
    display: flex;
    justify-content: center;
}

#mainWrapper {
    display: flex;
    flex-basis: var(--wrapper-width);
}

#middle {
    width: var(--content-width);
}

/* recent posts */
#recentPosts {
    margin-top: 2svh;
    padding-top: 1svh;
    border-top: dashed 1px var(--accent);
}

#recentPosts a {
    margin-left: auto;
    align-self: flex-end;
}

#recentPostsPrefix {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#recentPostsContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    align-content: start;
    gap: 2rem;
}

/* mobile settings */
/* i dont wanna deal with max-width breakpoints, so take it */
@media (orientation: portrait) {
    :root {
        --content-width: 99%;
        --wrapper-width: 99%;
        --sidebar-width: 99%;
    }

    /* general settings */
    body {
       font-size: x-large;
       line-height: 1.4em;
    }

    .mobileHidden {
        display: none;
    }

    .sticky {
        position: static;
    }

    #navbar {
        margin-right: unset;
    }


    #mainWrapper {
        flex-direction: column;
        width: 100%;
    }

    .toc-post {
        float: none;
        max-width: var(--content-width);
        margin-right: none;
    }

    #webtitle {
        font-size: xx-large;
    }

    #internalNavLinks, #externalNavLinks {
        margin-bottom: -2.5svh;
        font-size: medium;
    }

    #copyrightNotice {
        font-size: medium;
    }

    #mainContent {
        border-top: dashed 1px var(--accent);
        margin-top: 2svh;
        padding-top: 1svh;
        flex-basis: unset; /* this somehow fixes badges overflow on the homepage */
    }

    #internalNavLinks li {
        display: inline-block;
        padding: 0 3%
    }

    #externalNavLinks {
        display: flex;
        gap: 5%;
        justify-content: center;
    }
}
