<div id="allPosts">
  <div id="recentPostsPrefix">
    <h1>All Posts</h1>
  </div>
  <div id="recentPostsContent">
    {{ range .Site.RegularPages }}
        {{ if not .Params.noindex }}
    <div>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      | {{ .Lastmod | time.Format "2006/01/02" }}
      <p>{{ .Params.desc }}</p>
    </div>
    {{ end }}
      {{ end }}
  </div>
</div>