<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ $style := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.RelPermalink | relURL }}" integrity="{{ $style.Data.Integrity }}">
<title>
  {{- block "title" . -}}
      {{ .Title }} &ndash; {{ .Site.Title }}
    {{- end -}}
</title>
<link rel="icon" type="image/svg+xml" href="https://cdn.squel.xyz/pf-3.svg">
<!-- embeds -->
<meta property="og:image" content="https://cdn.squel.xyz/pf-3.svg">
<meta name="description" content='{{ .Params.desc | default "A selfhosted website and server for FOSS services, for the purpose of deGoogling." }}'>
{{ if .Params.noindex }}
<meta name="robots" content="noindex,nofollow">
{{ end }}