<nav id="navbar" class="sticky sidebar">
  <a class="hiddenDecoration" href="/">
    <h1 id="webtitle" class="hiddenDecoration"><span class="gradient-text">Squel</span>'s Website</h1>
  </a>
  <p id="quote">For science. You monster.</p>
  {{ partial "featured_posts.html" . }}
  <div class="seperator mobileHidden">
    <p>--- links ----</p>
  </div>
  <ul id="externalNavLinks" class="hiddenDecoration">
    <li><a href="https://git.squel.xyz/squel/website/">Source Code</a></li>
    <li><a rel="me" href="https://mstdn.party/@squel">Mastodon</a></li>
    <li><a href="https://codeberg.org/Squel">Codeberg</a></li>
  </ul>
  <div id="copyrightNotice">
    <p title="Page content is available under the CC-BY-4.0 license, codebase is available under the MIT license. Please follow the link to the source code. :)">
      ©
      <span title='Version: {{if site.Params.git.last_commit.hash}}{{ site.Params.git.last_commit.hash }}{{ else }}development{{ end }}'>
        Copyright
      </span>
      Squel
      <span title="Holocene Calendar">12024</span>
    </p>
  </div>
  <div id="badges">
  {{ $image := resources.Get "images/nochromium-badge.png" }}
    <img
    src="{{ $image.RelPermalink }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
      loading="lazy"
      title="This site does not recommend Chromium or derivatives. For an optimal user experience (across the web), use a Firefox-based browser."
      alt="Traditional website badge with a red circle with a line through the middle in front of a Chromium logo, with a text next to it: 'no chromium'."
    >

  {{ $image := resources.Get "images/nullcookies-badge.png" }}
    <img
    src="{{ $image.RelPermalink }}"
    width="{{ $image.Width }}"
    height="{{ $image.Height }}"
      loading="lazy"
      title="This website does not store cookies and does not track you! (Excluding subdomains for - including but not limited to - authentication purposes)"
      alt="Traditional website badge with a red circle with line through the middle in front of a chocolate-chip cookie, with a text next to it: 'null cookies'."
    >
  </div>
</nav>