<div id="recentPosts">
  <div id="recentPostsPrefix">
    <h1>Recent Posts</h1>
    <a href="/posts">View all posts</a>
  </div>
  <div id="recentPostsContent">
    {{ $recentPosts := where .Site.RegularPages "Params.noindex" "ne" true }}
    {{ range first 3 $recentPosts }}
    <div>
      <a href="{{ .RelPermalink }}">{{ .Title }} | ⏲ {{ .Lastmod | time.Format "2006/01/02" }}</a>
      <p>{{ .Params.desc }}</p>
    </div>
    {{ end }}
  </div>
</div>